<div ng-include src=" 'resources/html/secure/menu.html' "></div>
<div class="panel panel-primary" style="max-width: 1000px; margin: 0 auto 10px;">
    <div class="panel-heading">
        <h3 class="text-center">COMMENTS</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" style="width:980px;" ng-show="comments.length > 0">
            <thead>
            <tr>
                <th style="text-align: center;">Item</th>
                <th style="text-align: center;">Title</th>
                <th style="text-align: center;">Username</th>
                <th style="text-align: center;">Comment</th>
                <th style="text-align: center;">Date Upload</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in comments">
                <td ng-show="comment.photo.url_sq"><img ng-src="{{comment.photo.url_sq}}" class="img-in-list img-rounded" ng-click="openComments(comment.photo)"></td>
                <td ng-show="!comment.photo.url_sq">{{comment.itemType}}</td>
                <td>{{comment.itemTitle}}</td>
                <td>{{comment.username}}</td>
                <td>{{comment._content}}</td>
                <td>{{comment.dateadded+'000' | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>